

.timer{
  z-index: 14;
  position: absolute;
  left: calc( 50% - 285px);
  top: 170px;
	color: white;
	font-weight: 100;
	text-align: center;
  font-size: 30px;
  border: solid 0.1px rgba(255, 255, 255, 0.575);
  display: flex;
  width: 570px;
  height: 150px ;
  &__container{
    padding: 15px;
	  border-left: solid 0.2px rgba(255, 255, 255, 0.651);
	  display: inline-block;
    span {
      font-weight: bold;
      font-size: 65px;
      display: inline-block;
      padding: 15px;
    }
  }
}


.smalltext{
	padding-top: 5px;
	font-size: 16px;
}