/* .hero__info {
  position: relative;
  color: white;
  font-family:'sf_display';
  width: 100vw;
  height: auto;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  &__header {
    z-index: 10;
    display: flex;
    position: relative;
    height: 90px;
    justify-content: center;
    position: absolute;
    width: 100%;
    &--logo {
      position: absolute;
      left: 65px;
      top: 25px;
    }
  }
} */

.body {
  font-family: 'sf_display', sans-serif;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  background: #101010;
  .header__logo {
    position: relative;
    left: 52px;
  }
  .menu {
    width: 402px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      font-weight: bold;
    }
  }
  .row__decoration {
    height: 22px;
    width: 1px;
    background: #949494;
  }
  .header__button {
    padding: 25px 50px;
    border: #e1683b solid 2px;
    color: #e1683b;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
  }
}