/* .hero__info {
  position: relative;
  color: white;
  font-family:'sf_display';
  width: 100vw;
  height: auto;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  &__header {
    z-index: 10;
    display: flex;
    position: relative;
    height: 90px;
    justify-content: center;
    position: absolute;
    width: 100%;
    &--logo {
      position: absolute;
      left: 65px;
      top: 25px;
    }
  }
} */