// SF Pro Display

@font-face {
  font-family:'sf_display';
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family:'sf_display';
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}